---
import { Navigation } from '~/components/navigation';
import Footer from '~/components/footer.astro';

const title = 'Frontend Mentor | Expenses chart component';
const description =
  'This is a solution to the Expenses chart component challenge on Frontend Mentor. Built with Astro and Tailwind CSS';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />

    <meta name="author" content="Zétény Nagy" />
    <link rel="author" href="https://znagy.hu" />

    <meta
      name="keywords"
      content="frontend mentor, frontend, mentor, fem, landing page, sunnyside agency, sunnyside agency landing page, challenge, astro, react, tailwind, tailwindcss"
    />

    <meta name="color-scheme" content="light" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={title} />

    <meta name="application-name" content={title} />

    <meta name="twitter:card" content="summary" />

    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta property="og:url" content="https://fm-sunnyside-agency.znagy.hu" />

    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Figtree:wght@600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-off-white text-lg">
    <main class="grid-areas grid grid-cols-1 lg:grid-cols-2">
      <div
        style="grid-area: header;"
        class="flex aspect-[375/538] flex-col items-center gap-12 bg-[url(/mobile/image-header.jpg)] bg-cover bg-no-repeat lg:aspect-[9/5] lg:gap-24 lg:bg-[url(/desktop/image-header.jpg)]"
      >
        <Navigation client:load />

        <h1
          class="px-6 text-center font-serif text-4xl font-black uppercase tracking-[0.2em] text-white lg:text-6xl"
        >
          We are creatives
        </h1>

        <a class="group" href="#transform" title="Scroll to content">
          <svg width="36" height="114">
            <g
              class="fill-none stroke-white stroke-[6] transition-colors group-hover:stroke-white/80"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 3v100M3 95.484l15 15 15-15"></path>
            </g>
          </svg>
        </a>
      </div>

      <div
        style="grid-area: transform-content;"
        class="grid place-content-center gap-10 px-6 py-16 max-lg:text-center lg:p-16 xl:p-36"
        id="transform"
      >
        <h2 class="font-serif text-3xl font-black text-very-dark-desaturated-blue lg:text-5xl">
          Transform your brand
        </h2>

        <p class="text-dark-grayish-blue">
          We are a full-service creative agency specializing in helping brands grow fast. Engage
          your clients through compelling visuals that do most of the marketing for you.
        </p>

        <a
          href="#"
          class="relative w-fit after:absolute after:bottom-0 after:-z-10 after:block after:h-3 after:w-full after:rounded-full after:bg-yellow after:opacity-40 after:transition-colors hover:after:opacity-100 max-lg:mx-auto"
        >
          <span class="p-2 font-serif uppercase text-very-dark-desaturated-blue"> Learn more </span>
        </a>
      </div>

      <picture style="grid-area: transform-image;">
        <source media="(min-width:1024px)" srcset="/desktop/image-transform.jpg" />
        <img src="/mobile/image-transform.jpg" class="h-full w-full" alt="Transform your brand" />
      </picture>

      <div
        style="grid-area: stand-out-content;"
        class="grid place-content-center gap-10 px-6 py-16 max-lg:text-center lg:p-16 xl:p-36"
      >
        <h2 class="font-serif text-3xl font-black text-very-dark-desaturated-blue lg:text-5xl">
          Stand out to the right audience
        </h2>

        <p class="text-dark-grayish-blue">
          Using a collaborative formula of designers, researchers, photographers, videographers, and
          copywriters, we'll build and extend your brand in digital places.
        </p>

        <a
          href="#"
          class="relative w-fit after:absolute after:bottom-0 after:-z-10 after:block after:h-3 after:w-full after:rounded-full after:bg-soft-red after:opacity-40 after:transition-colors hover:after:opacity-100 max-lg:mx-auto"
        >
          <span class="p-2 font-serif uppercase text-very-dark-desaturated-blue"> Learn more </span>
        </a>
      </div>

      <picture style="grid-area: stand-out-image;">
        <source media="(min-width:1024px)" srcset="/desktop/image-stand-out.jpg" />
        <img
          src="/mobile/image-stand-out.jpg"
          class="h-full w-full"
          alt="Stand out to the right audience"
        />
      </picture>

      <div
        style="grid-area: graphic-design;"
        class="flex aspect-[5/8] flex-col items-center justify-end gap-6 bg-[url(/mobile/image-graphic-design.jpg)] bg-cover bg-no-repeat pb-16 text-dark-desaturated-cyan lg:aspect-[6/5] lg:bg-[url(/desktop/image-graphic-design.jpg)] lg:p-16"
      >
        <h2 class="text-center font-serif text-2xl font-black">Graphic Design</h2>

        <p class="px-6 text-center lg:max-w-[45ch]">
          Great design makes you memorable. We deliver artwork that underscores your brand message
          and captures potential clients' attention.
        </p>
      </div>

      <div
        style="grid-area: photography;"
        class="flex aspect-[5/8] flex-col items-center justify-end gap-6 bg-[url(/mobile/image-photography.jpg)] bg-cover bg-no-repeat pb-16 text-dark-blue lg:aspect-[6/5] lg:bg-[url(/desktop/image-photography.jpg)] lg:p-16"
      >
        <h2 class="text-center font-serif text-2xl font-black">Photography</h2>

        <p class="px-6 text-center lg:max-w-[45ch]">
          Increase your credibility by getting the most stunning, high-quality photos that improve
          your business image.
        </p>
      </div>

      <div
        style="grid-area: testimonials;"
        class="col-span-full flex flex-col gap-16 px-6 py-16 text-center lg:p-24 lg:px-32 lg:py-36"
      >
        <h2 class="font-serif font-bold uppercase tracking-widest text-grayish-blue lg:text-xl">
          Client testimonials
        </h2>

        <div class="grid gap-x-8 gap-y-20 lg:grid-cols-3 lg:gap-x-12">
          <div class="flex flex-col items-center gap-16">
            <img src="/image-emily.jpg" alt="Emily" class="aspect-square w-16 rounded-full" />

            <p class="text-dark-grayish-blue">
              We put our trust in Sunnyside and they delivered, making sure our needs were met and
              deadlines were always hit.
            </p>

            <div class="mt-auto">
              <h3 class="font-serif font-black text-very-dark-desaturated-blue">Emily R.</h3>
              <span class="text-grayish-blue">Marketing Director</span>
            </div>
          </div>

          <div class="flex flex-col items-center gap-16">
            <img src="/image-thomas.jpg" alt="Thomas" class="aspect-square w-16 rounded-full" />

            <p class="text-dark-grayish-blue">
              Sunnyside's enthusiasm coupled with their keen interest in our brand's success made it
              a satisfying and enjoyable experience.
            </p>

            <div class="mt-auto">
              <h3 class="font-serif font-black text-very-dark-desaturated-blue">Thomas S.</h3>
              <span class="text-grayish-blue">Chief Operating Officer</span>
            </div>
          </div>

          <div class="flex flex-col items-center gap-16">
            <img src="/image-jennie.jpg" alt="Jennie" class="aspect-square w-16 rounded-full" />

            <p class="text-dark-grayish-blue">
              Incredible end result! Our sales increased over 400% when we worked with Sunnyside.
              Highly recommended!
            </p>

            <div class="mt-auto">
              <h3 class="font-serif font-black text-very-dark-desaturated-blue">Jennie F.</h3>
              <span class="text-grayish-blue">Business Owner</span>
            </div>
          </div>
        </div>
      </div>

      <div style="grid-area: gallery;" class="grid grid-cols-2 lg:grid-cols-4">
        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-milkbottles.jpg" />
          <img
            src="/mobile/image-gallery-milkbottles.jpg"
            class="h-full w-full"
            alt="Milkbottles"
          />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-orange.jpg" />
          <img src="/mobile/image-gallery-orange.jpg" class="h-full w-full" alt="Orange" />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-cone.jpg" />
          <img src="/mobile/image-gallery-cone.jpg" class="h-full w-full" alt="Cone" />
        </picture>

        <picture>
          <source media="(min-width:1024px)" srcset="/desktop/image-gallery-sugarcubes.jpg" />
          <img src="/mobile/image-gallery-sugar-cubes.jpg" class="h-full w-full" alt="Sugarcubes" />
        </picture>
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  .grid-areas {
    grid-template-areas:
      'header'
      'transform-image'
      'transform-content'
      'stand-out-image'
      'stand-out-content'
      'graphic-design'
      'photography'
      'testimonials'
      'gallery';
  }

  @media (min-width: 1024px) {
    .grid-areas {
      grid-template-areas:
        'header header'
        'transform-content transform-image'
        'stand-out-image stand-out-content'
        'graphic-design photography'
        'testimonials testimonials'
        'gallery gallery';
    }
  }
</style>
